<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style type="text/css">
    .print_this{
    	display: none;
     }
 
    @media print {
     .print_this {
       display: block;
     }
    }
  </style>

<style>
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
</style>

<h3 class="h3"><%=page._data._section%></h3>

<div id="tab-container" class="tab-container">
  <ul class='etabs'>
<%for(var y=2014; y<=(new Date()).getFullYear(); y++){%>
    <li class='tab'><a onclick="ShowYear('<%=page._data._section%>', <%=y%>)" id="section-<%=y%>" data-target="#tabs1-<%=y%>"><%=y%></a></li>
<%}%>
  </ul>

    <div class='panel-container'>
 <%for(var y=2014; y<=(new Date()).getFullYear(); y++){%>
        <div style="cursor: pointer" id="tabs1-<%=y%>">
            <div id="chtResults-<%=y%>"/>
            
            <button onclick="$('#tblResults-hidden-<%=y%>').printThis();" class="btn"><i class="fas fa-print"></i> Print</button>
            <div id="tblResults-<%=y%>"></div>
            
            <div id="tblResults-hidden-<%=y%>" class="print_this w3-container">
              <h3 class="h3"><%=page._data._section%> - <%=y%></h3>

              <table id="tblResults-data-<%=y%>" class="w3-table-all w3-hoverable"></table>

            </div>
        </div>
<%}%>
    </div>

</div>